@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

nav {
    display: flex;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 0 1.5rem;
}

h1 {
    margin-top: 75px;
    margin-bottom: 25px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

input:focus {
    outline: none;
}

#btn-submit {
    width: 7.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-top: 30px;
    height: 30px;
    padding: 2px 0;
    border: none;
    font-weight: bold;
}

#btn-submit:hover{
    border: 2px solid white;
    background-color: black;
    color: white;
}


#output {
    margin-top: 50px;
    font-weight: bold;
}

.question-container {
    padding: 30px 0;
}

label {
    margin-right: 10px;
}

#output {
    margin-bottom: 50px;
    font-size: larger;
}

footer { 
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

footer div {
    display: flex;
    margin: auto;
    width: 200px;
    justify-content: space-evenly;
}

a {
    color: white;
}
